<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">
            <div class="col-sm-12 header">
            </div>
				<div class="col-sm-12 content">
					<div class="row text-center">
						<div class="col-sm-4">
							<img src="../../static/images/elek_pe_0102_006.png" alt="Alt text">
						</div>
						<div class="col-sm-4">
							<img src="../../static/images/elek_pe_0102_007.png" alt="Alt text" style="padding-top: 53px;">
						</div>
						<div class="col-sm-4">
							<!-- <img src="../../static/images/Bilm_animation_write01_DI_TT.gif" alt="Alt text1" style="width: 31%;"> -->
						</div>
					</div>
					<div class="row text-center">
						<div class="col-sm-4">
							<img src="../../static/images/two.png" alt="Alt text">
						</div>
						<div class="col-sm-4">
							<!-- <img src="../../static/images/one.png" alt="Alt text"> -->
						</div>
						<div class="col-sm-4">
							<!-- <p style="font-size: 73px;line-height: 50px;">one</p> -->
						</div>
					</div>
					<div class="row text-center">
						<!-- <div class="col-sm-2"></div>
						<div class="col-sm-2">
							<img src="../../static/images/Bilm_animation_write01_DI_TT.gif" class="img-responsive" alt="Alt text">
						</div>
						<div class="col-sm-2">
							<img src="../../static/images/Bilm_animation_write01_DI_TT.gif" class="img-responsive" alt="Alt text">
						</div>
						<div class="col-sm-2">
							<img src="../../static/images/Bilm_animation_write01_NDI_TT.gif" class="img-responsive" alt="Alt text">
						</div>
						<div class="col-sm-2">
							<img src="../../static/images/Bilm_animation_write01_NDI_TT.gif" class="img-responsive" alt="Alt text">
						</div>
						<div class="col-sm-2"></div> -->					
					</div>
					
				</div>	
            <div class="col-xs-2">
               <audio-component src="en=../../static/audio/19NA00_c01s02_thgr_09_02.mp3;es=../../static/audio/19NA00_c01s02_thgr_09_02.mp3;"></audio-component>
            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
         </div>
	</div>
    <captions-component></captions-component>
</div>







