<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">
			<div class="col-sm-12">
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture1.png" alt="Alt text"><br>
					<img src="../../static/images/Picture2.png" alt="Alt text">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture3.png" alt="Alt text"><br>
					<img src="../../static/images/Picture4.png" alt="Alt text">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture5.png" alt="Alt text"><br><br><br>
					<img src="../../static/images/Picture8.png" alt="Alt text">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture7.png" alt="Alt text"><br><br><br><br>
					<img src="../../static/images/Picture10.png" alt="Alt text">
				</div>
			</div>
            <div class="col-xs-2">
                <audio-component src="en=../../static/audio/19NA00_c01s01_thgr_10.mp3;es=../../static/audio/19NA00_c01s01_thgr_10_es.mp3;"></audio-component>
            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
        </div>
    </div>
    <captions-component></captions-component>
</div>
